nav {
    display: flex;
    width: 665px;
    flex-direction: row;
    margin: 1rem auto 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

.ourBeers {
    text-decoration: underline;
}

.aboutUs {
    margin-left: 4rem;
}

.aboutUs:hover {
    text-decoration: underline;
}