header {
    display: flex;
    flex-direction: column;
    width: 665px;
    margin: 3rem auto 0 auto;
}

h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 2rem 0;
}

.logo-social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.socialContainer a {
    margin: 0 0.5rem 0 0.5rem;
}

.socialItem {
    width: 26px;
    height: 26px;
}

.hr-header {
    border: none;
    margin: 0;
    height: 1px;
    background-color: black;
    margin: 0.5rem 0 0 0;
}